 /* Couleurs du site*/
@keyframes reveal {
  0% {
    transform: translate X(0) Y(0);
    opacity: 0;
  }
  100% {
    transform: translate X(-100px) Y(-100px);
    opacity: 1;
  }
}
@keyframes box-translate {
  0% {
    transform: translateX(Opx);
  }
  100% {
    transform: translateX(-80px);
  }
}
@keyframes check {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1 turn);
  }
}
.reveal--1 {
  animation: reveal 1200ms backwards;
}

.reveal--2 {
  animation: reveal 1200ms 300ms backwards;
}

.reveal--3 {
  animation: reveal 1200ms 600ms backwards;
}

.reveal--4 {
  animation: reveal 1200ms 800ms backwards;
}

.reveal--5 {
  animation: reveal 1200ms 1000ms backwards;
}

.reveal--6 {
  animation: reveal 1200ms 1200ms backwards;
}

.menu__entrance__items:hover::after,
.menu__main-course__items:hover::after,
.menu__desserts__items:hover::after {
  animation: box-translate 800ms 0s 1 forwards;
}

.menu__entrance__items:hover + .iconCheck,
.menu__main-course__items:hover + .iconCheck,
.menu__desserts__items:hover + .iconCheck {
  animation: check 1000ms 0s 1 forwards;
}

* {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  max-width: 1400px;
}

a {
  color: black;
}

h1, h4 {
  font-family: "shrikhand", sans-serif, "Arial";
}

body, html {
  font-family: "Roboto", sans-serif, "Arial";
}

h2 {
  font-weight: 400;
}

.introducing__btn {
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(150deg, #ff79da, #9356dc);
  box-shadow: 5px 5px 2px #c3c1c1;
  transition: transform 400ms;
  opacity: 1;
}
.introducing__btn:hover {
  opacity: 0.7;
  background-color: #fface8;
}

.order__btn {
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(150deg, #ff79da, #9356dc);
  box-shadow: 5px 5px 2px #c3c1c1;
  padding: 15px 50px;
  margin: 30px auto 30px auto;
  color: white;
  font-size: 15px;
}
.order__btn a {
  color: white;
}
.order__btn:hover {
  opacity: 0.7;
}

.iconInfo {
  position: absolute;
  font-size: 1.4em;
  right: 5%;
  bottom: 38%;
}

.iconTitle {
  position: absolute;
  font-size: 1.3em;
  right: 31px;
  top: 29px;
}

.iconTitle-fill {
  position: absolute;
  font-size: 1.3em;
  right: 31px;
  top: 29px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.iconTitle-fill:active {
  opacity: 1;
  transform: scale(1.1);
  background: -webkit-linear-gradient(-150deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .iconTitle-fill:hover {
    opacity: 1;
    transform: scale(1.1);
    background: -webkit-linear-gradient(-150deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.functioning__filters__items i {
  color: #7e7e7e;
}

.iconCheck {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1;
  color: grey;
  font-size: 30px;
}

.footer {
  background-color: #353535;
  color: white;
}
.footer__menu {
  padding: 20px;
}
.footer__menu__title {
  font-family: "Shrikhand", cursive;
  color: white;
  padding-bottom: 10px;
}
.footer__menu li {
  padding: 5px 0 5px 0;
}

.footer a {
  color: white;
}

.footer i {
  width: 25px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
  position: relative;
}
.header i {
  position: absolute;
  left: 15px;
  top: 3px;
  font-size: x-large;
  margin: 15px;
}

#logo {
  height: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: -36px;
  border-radius: 30px 30px 0 0;
  background-color: white;
  position: relative;
  margin-top: -80px;
  padding: 70px 20px 10px 20px;
  background-color: #F2F2F2;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.menu__title {
  display: flex;
  top: 4px;
  left: 22px;
  margin-top: 20px;
  position: absolute;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .menu__title {
    left: 40%;
  }
}
.menu__entrance {
  margin: 20px 0 20px 0;
  flex: 1 0 25%;
}
.menu__entrance h2 {
  position: relative;
}
.menu__entrance h2::after {
  content: "";
  position: absolute;
  width: 15%;
  bottom: -3px;
  left: 0%;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .menu__entrance {
    margin: 20px;
  }
}
.menu__entrance__items {
  background-color: white;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #c3c1c1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__entrance__items::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #99E2D0;
  right: -80px;
  top: 0px;
}
.menu__entrance__items__choice {
  font-weight: 400;
  margin: 3px;
}
.menu__entrance__items__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__main-course {
  margin: 20px 0 20px 0;
  flex: 1 0 25%;
}
.menu__main-course h2 {
  position: relative;
}
.menu__main-course h2::after {
  content: "";
  position: absolute;
  width: 15%;
  bottom: -3px;
  left: 0%;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .menu__main-course {
    margin: 20px;
  }
}
.menu__main-course__items {
  background-color: white;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #c3c1c1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__main-course__items::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #99E2D0;
  right: -80px;
  top: 0px;
}
.menu__main-course__items__choice {
  font-weight: 400;
  margin: 3px;
}
.menu__main-course__items__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__desserts {
  margin: 20px 0 20px 0;
  flex: 1 0 25%;
}
.menu__desserts h2 {
  position: relative;
}
.menu__desserts h2::after {
  content: "";
  position: absolute;
  width: 15%;
  bottom: -3px;
  left: 0%;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .menu__desserts {
    margin: 20px;
  }
}
.menu__desserts__items {
  background-color: white;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #c3c1c1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__desserts__items::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #99E2D0;
  right: -80px;
  top: 0px;
}
.menu__desserts__items__choice {
  font-weight: 400;
  margin: 3px;
}
.menu__desserts__items__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  font-weight: 300;
  margin: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.price {
  padding-left: 5px;
}

.order {
  display: flex;
  background-color: #F2F2F2;
  margin-top: -30px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding-top: 20px;
  padding-bottom: 40px;
}
.restaurants__title {
  padding: 30px 0 0 20px;
}
.restaurants__gallery {
  flex-wrap: wrap;
  display: flex;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .restaurants__gallery {
    flex-wrap: nowrap;
  }
}
.restaurants__gallery__card {
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  flex: 1 0 50%;
  position: relative;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .restaurants__gallery__card {
    flex: 1 0 30%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .restaurants__gallery__card {
    flex: 1 0 20%;
  }
}
.restaurants__gallery__card__image {
  width: 100%;
  object-fit: cover;
  height: 160px;
  border-radius: 20px 20px 0 0;
}
.restaurants__gallery__card__info {
  padding: 15px;
  position: relative;
}

.new {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  color: green;
  padding: 15px;
  width: 30%;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
}

.link {
  display: flex;
  flex: 1 0 100%;
  color: black;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .link {
    flex: 1 0 40%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .link {
    flex: 1 0 20%;
  }
}

.restaurants__gallery__card__info p {
  font-weight: 300;
  margin: 3px;
}

.restaurants__gallery__card__info h3 {
  font-weight: 500;
  margin: 3px;
}

.functioning {
  display: flex;
  flex-direction: column;
}
.functioning__title {
  align-self: flex-start;
  margin: 20px 0 0 20px;
}
.functioning__filters {
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .functioning__filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .functioning__filters {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
.functioning__filters__items {
  display: flex;
  flex-direction: row;
  margin: 30px 30px 30px 35px;
  padding: 25px 30px;
  gap: 15px;
  border-radius: 20px;
  background-color: #F2F2F2;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.functioning__filters__items:hover {
  background-color: #f5edff;
  cursor: pointer;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .functioning__filters__items {
    justify-content: center;
  }
}
.functioning__filters__items__number {
  position: absolute;
  left: -5%;
  top: 26%;
  border-radius: 50px;
  background-color: #9356DC;
  padding: 6px 10px;
  color: white;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .functioning__filters__items__number {
    left: -2%;
  }
}

.introducing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  padding-bottom: 20px;
}
.introducing__form {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
  width: 100%;
}
.introducing__form input {
  border: none;
  background: #eaeaea;
  font-size: 16px;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}
.introducing__title {
  font-family: "Roboto", sans-serif, "Arial";
  font-size: x-large;
  text-align: center;
  margin: 20px 20px 10px 20px;
}
.introducing__byline {
  margin: 10px 20px 20px 20px;
  text-align: center;
  font-weight: 300;
}

.image {
  height: 350px;
  object-fit: cover;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
