 /* Couleurs du site*/
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.iconTitle-fill {
  position: absolute;
  font-size: 1.3em;
  right: 31px;
  top: 29px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.iconTitle-fill:active {
  opacity: 1;
  transform: scale(1.1);
  background: -webkit-linear-gradient(-150deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .iconTitle-fill:hover {
    opacity: 1;
    transform: scale(1.1);
    background: -webkit-linear-gradient(-150deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.reveal--1 {
  animation: reveal 2000ms backwards;
}

.reveal--2 {
  animation: reveal 2000ms 150ms backwards;
}

.reveal--3 {
  animation: reveal 2000ms 300ms backwards;
}

.reveal--4 {
  animation: reveal 2000ms 450ms backwards;
}

.reveal--5 {
  animation: reveal 2000ms 600ms backwards;
}

.reveal--6 {
  animation: reveal 2000ms 750ms backwards;
}

.reveal--7 {
  animation: reveal 2000ms 900ms backwards;
}

.reveal--8 {
  animation: reveal 2000ms 1050ms backwards;
}

.reveal--9 {
  animation: reveal 2000ms 1200ms backwards;
}

.reveal--10 {
  animation: reveal 2000ms 1350ms backwards;
}

.reveal--11 {
  animation: reveal 2000ms 1500ms backwards;
}

.reveal--12 {
  animation: reveal 2000ms 1750ms backwards;
}

.reveal--13 {
  animation: reveal 2000ms 1900ms backwards;
}

.menu__plate__items:active > .menu__plate__items__slider {
  transform: translateX(-80px);
}

.menu__plate__items:active > .menu__plate__items__slider i {
  transform: rotate(2turn);
}

.menu__plate__items__slider__checkbox {
  width: 80px;
  height: 80px;
  background-color: #99E2D0;
  right: -80px;
  top: 0px;
  transition: transform 500ms ease-in-out;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 0 20px 20px 0;
}
.menu__plate__items__slider__checkbox i {
  right: 22px;
  top: 22px;
  color: white;
  font-size: 35px;
  transition: transform 500ms ease-out;
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
  .menu__plate__items:hover > .menu__plate__items__slider {
    transform: translateX(-80px);
  }
  .menu__plate__items:hover > .menu__plate__items__slider i {
    transform: rotate(2turn);
  }
  .reveal--entrance {
    animation: reveal 1500ms backwards;
  }
  .reveal--main-course {
    animation: reveal 1500ms 500ms backwards;
  }
  .reveal--desserts {
    animation: reveal 1500ms 1000ms backwards;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
  transition: visibility 0.75s, opacity 0.75s;
  animation: done 3500ms forwards;
}
.loader__bars {
  margin-top: auto;
  margin-bottom: auto;
  width: 30vh;
  height: 18vh;
  display: flex;
  justify-content: space-evenly;
}
.loader__bars__1 {
  background-color: #15DEA5;
  border-radius: 15px;
  height: 100%;
  width: 3vh;
  background-color: #FF79DA;
  animation: bar1 1000ms 100ms backwards infinite ease-in-out alternate;
}
.loader__bars__2 {
  background-color: #15DEA5;
  border-radius: 15px;
  height: 100%;
  width: 3vh;
  background-color: #99E2D0;
  animation: bar2 1000ms 200ms backwards infinite ease-in-out alternate;
}
.loader__bars__3 {
  background-color: #15DEA5;
  border-radius: 15px;
  height: 100%;
  width: 3vh;
  background-color: #FF79DA;
  animation: bar3 1000ms 300ms backwards infinite ease-in-out alternate;
}
.loader__bars__4 {
  background-color: #15DEA5;
  border-radius: 15px;
  height: 100%;
  width: 3vh;
  background-color: #99E2D0;
  animation: bar4 1000ms 400ms backwards infinite ease-in-out alternate;
}
.loader__bars__5 {
  background-color: #15DEA5;
  border-radius: 15px;
  height: 100%;
  width: 3vh;
  background-color: #FF79DA;
  animation: bar5 1000ms 500ms backwards infinite ease-in-out alternate;
}
.loader__logo {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
  color: #9356DC;
  flex-direction: column;
}
.loader__logo p {
  font-family: "shrikhand", sans-serif, "Arial";
}
.loader__logo__underline {
  display: flex;
  gap: 5px;
}
.loader__logo__underline__1 {
  background-color: #9356DC;
  width: 3px;
  height: 3px;
  border-radius: 50px;
  animation: underline 2000ms backwards infinite alternate;
}
.loader__logo__underline__2 {
  background-color: #FF79DA;
  width: 3px;
  height: 3px;
  border-radius: 50px;
  animation: underline 2000ms backwards infinite alternate;
}
.loader__logo__underline__3 {
  background-color: #99E2D0;
  width: 3px;
  height: 3px;
  border-radius: 50px;
  animation: underline 2000ms backwards infinite alternate;
}

@keyframes bar1 {
  0% {
    transform: scaleX(0.1) scaleY(0.1);
    opacity: 0;
  }
  100% {
    transform: scaleX(1) scaleY(0.1);
    opacity: 1;
  }
}
@keyframes bar2 {
  0% {
    transform: scaleY(0.1);
    opacity: 0.1;
  }
  100% {
    transform: scaleY(0.2);
    opacity: 1;
  }
}
@keyframes bar3 {
  0% {
    transform: scaleY(0.1);
    opacity: 0.1;
  }
  100% {
    transform: scaleY(0.4);
    opacity: 1;
  }
}
@keyframes bar4 {
  0% {
    transform: scaleY(0.1);
    opacity: 0.1;
  }
  100% {
    transform: scaleY(0.6);
    opacity: 1;
  }
}
@keyframes bar5 {
  0% {
    transform: scaleY(0.1);
    opacity: 0.1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes underline {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(150px);
  }
}
@keyframes done {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

* {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  max-width: 1400px;
}

a {
  color: black;
}

h1, h4 {
  font-family: "shrikhand", sans-serif, "Arial";
}

body, html {
  font-family: "Roboto", sans-serif, "Arial";
}

h2 {
  font-weight: 400;
}

.introducing__btn {
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 16px;
  background: linear-gradient(150deg, #ff79da, #9356dc);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.introducing__btn:hover {
  transition-duration: 500ms;
  filter: brightness(110%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.order__btn {
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 16px;
  background: linear-gradient(150deg, #ff79da, #9356dc);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 15px 50px;
  margin: 30px auto 30px auto;
}
.order__btn:hover {
  transition-duration: 500ms;
  filter: brightness(110%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.order__btn a {
  color: white;
}

.iconInfo {
  position: absolute;
  font-size: 1.4em;
  right: 5%;
  bottom: 38%;
}

.iconTitle {
  position: absolute;
  font-size: 1.3em;
  right: 31px;
  top: 29px;
}

.functioning__filters__items i {
  color: #7e7e7e;
}

.iconCheck {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1;
  color: grey;
  font-size: 30px;
}

.footer {
  background-color: #353535;
  color: white;
}
.footer__menu {
  padding: 20px;
}
.footer__menu__title {
  font-family: "Shrikhand", cursive;
  color: white;
  padding-bottom: 10px;
}
.footer__menu li {
  padding: 5px 0 5px 0;
}

.footer a {
  color: white;
}

.footer i {
  width: 25px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
  position: relative;
}
.header i {
  position: absolute;
  left: 15px;
  top: 3px;
  font-size: x-large;
  margin: 15px;
}

#logo {
  height: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: -36px;
  border-radius: 30px 30px 0 0;
  background-color: white;
  position: relative;
  margin-top: -80px;
  padding: 70px 20px 10px 20px;
  background-color: #F2F2F2;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.menu__title {
  display: flex;
  top: 4px;
  left: 22px;
  margin-top: 20px;
  position: absolute;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .menu__title {
    left: 40%;
  }
}
.menu__plate {
  margin: 20px 0 20px 0;
  flex: 1 0 25%;
  text-overflow: ellipsis;
}
.menu__plate h2 {
  position: relative;
}
.menu__plate h2::after {
  content: "";
  position: absolute;
  width: 15%;
  bottom: -3px;
  left: 0%;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .menu__plate {
    margin: 20px;
  }
}
.menu__plate__items {
  background-color: white;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #c3c1c1;
  display: flex;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}
.menu__plate__items__description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  justify-content: space-between;
}
.menu__plate__items__description h3 {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  font-size: 17px;
}
.menu__plate__items__description p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  font-size: 15px;
}
.menu__plate__items__slider {
  display: flex;
  margin-right: -80px;
  flex-wrap: nowrap;
  transition: transform 500ms ease-out;
  z-index: 0;
}
.menu__plate__items__slider__checkbox {
  width: 70px;
  height: 70px;
  background-color: #99E2D0;
  transition: transform 500ms ease-in-out;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 0 20px 20px 0;
}
.menu__plate__items__slider__checkbox i {
  right: 22px;
  top: 22px;
  color: white;
  font-size: 35px;
  transition: transform 500ms ease-out;
}
.menu__plate__items__slider__price {
  align-self: flex-end;
  display: flex;
  padding: 15px 20px 15px 0;
  font-size: 15px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding-top: 20px;
  padding-bottom: 40px;
}
.restaurants__title {
  padding: 30px 0 0 20px;
}
.restaurants__gallery {
  flex-wrap: wrap;
  display: flex;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .restaurants__gallery {
    flex-wrap: nowrap;
  }
}
.restaurants__gallery__card {
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  flex: 1 0 50%;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .restaurants__gallery__card {
    flex: 1 0 30%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .restaurants__gallery__card {
    flex: 1 0 20%;
  }
}
.restaurants__gallery__card__image {
  width: 100%;
  object-fit: cover;
  height: 160px;
  border-radius: 20px 20px 0 0;
}
.restaurants__gallery__card__info {
  padding: 15px;
  position: relative;
}

.new {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  color: green;
  padding: 15px;
  width: 30%;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
}

.link {
  display: flex;
  flex: 1 0 100%;
  color: black;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .link {
    flex: 1 0 40%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .link {
    flex: 1 0 20%;
  }
}

.restaurants__gallery__card__info p {
  font-weight: 300;
  margin: 3px;
}

.restaurants__gallery__card__info h3 {
  font-weight: 500;
  margin: 3px;
}

.functioning {
  display: flex;
  flex-direction: column;
}
.functioning__title {
  align-self: flex-start;
  margin: 20px 0 0 20px;
}
.functioning__filters {
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .functioning__filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .functioning__filters {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
.functioning__filters__items {
  display: flex;
  flex-direction: row;
  margin: 30px 30px 30px 35px;
  padding: 25px 30px;
  gap: 15px;
  border-radius: 20px;
  background-color: #F2F2F2;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
.functioning__filters__items:hover {
  background-color: #f5edff;
  cursor: pointer;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .functioning__filters__items {
    justify-content: center;
  }
}
.functioning__filters__items__number {
  position: absolute;
  left: -5%;
  top: 26%;
  border-radius: 50px;
  background-color: #9356DC;
  padding: 6px 10px;
  color: white;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .functioning__filters__items__number {
    left: -2%;
  }
}

.introducing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  padding-bottom: 20px;
}
.introducing__form {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
  width: 100%;
}
.introducing__form input {
  border: none;
  background: #eaeaea;
  font-size: 16px;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}
.introducing__title {
  font-family: "Roboto", sans-serif, "Arial";
  font-size: x-large;
  text-align: center;
  margin: 20px 20px 10px 20px;
}
.introducing__byline {
  margin: 10px 20px 20px 20px;
  text-align: center;
  font-weight: 300;
}

.image {
  height: 350px;
  object-fit: cover;
  width: 100%;
}

.order {
  display: flex;
  background-color: #F2F2F2;
  margin-top: -30px;
}

/*# sourceMappingURL=main.css.map */
