/*# sourceMappingURL=style.css.map */
@import "./Utils/functions", "./Utils/maps", "./Utils/mixins", "./Utils/variables","./Utils/place-holders";
@import "./Base/resets", "./Base/typography";
@import "./Components/buttons", "./Components/icons";
@import "./Layouts/footer", "./Layouts/header", "./Layouts/menus", "./Layouts/restaurants","./Layouts/functioning";
@import "./Pages/home", "./Pages/menu-french";
