* {
    text-decoration: none;
    list-style: none;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-width: 320px;
    max-width: 1400px;
}
/* Affichage sur mobile*/
@media screen and (min-width : 320px) and (max-width : 768px) {
   /*Centrer le logo et lui donner une hauteur de 40px*/
    header{
        display: flex;
        justify-content: center;
    }

    .logo{
        height: 50px;
        margin: 20px;
    }

    .introducing{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    }

    h1{
        text-align: center;margin: 10px;
    }

    .find_restaurant{
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
    }
    .introducing p{
        text-align: center;
        margin: 10px;
    }
    .form{
        margin: 10px;
    }

    .functioning{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: wrap;
        margin: 20px;
    }

    .filter{
            
    }

    .restaurants{
        display: flex;
        flex-wrap: wrap;
    }

    .gallery_restaurants{
        flex: 1 0 30%;
    }
}   
/* Affichage sur Tablette*/
@media screen and (min-width : 769px) and (max-width : 992px) {}

/* Affichage sur PC */
@media screen and (min-width: 993px) {}

