// Page contenant les différents boutons de la page d'accueil et des menus

// Bouton "explorer nos restaurants" lié à une mixin btn
.introducing__btn{
    @include btn;
}

// Bouton "Commander"
.order__btn{
    @include btn;
    padding: 15px 50px;
    margin: 30px auto 30px auto;
    & a{
        color: white;
    }
}