.introducing__btn{
    @include btn;
    transition: transform 400ms;
    opacity: 1;
        &:hover{
            opacity: 0.7;
            background-color: lighten($colour-secondary, 10)
        }
}

.order__btn{
    @include btn;
    padding: 15px 50px;
    margin: 30px auto 30px auto;
    color: white;
    font-size: 15px;
    & a{
        color: white;
    }
    &:hover{
        opacity: 0.7;
    }
}