//Style des différentes icônes

// icônes coeur sur des pages différentes en position absolute
.iconInfo{
    position: absolute;
    font-size: 1.4em;
    right:5%;
    bottom: 38%;
}

.iconTitle{
    position: absolute;
    font-size: 1.3em;
    right: 31px;
    top: 29px;
}


// icône des filtres de la page d'accueil
.functioning__filters__items i{
    color: #7e7e7e;
}

// icône de la checbox 
.iconCheck{
    position: absolute;
    right: 25px;
    top: 25px;
    z-index:1;
    color:grey;
    font-size: 30px;
}

