.introducing {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grey-bg;
    padding-bottom: 20px;
    &__form {
        background: #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 5px 5px 0px #dddddd;
        width: 100%;
        & input{
            border: none;
            background: #eaeaea;
            font-size: 16px;
            padding: 20px 5px 20px 5px;
            margin-top: 5px;
            text-align: center;
            width: 150px;
        }
    }
    &__title {
        font-family: "Roboto", sans-serif, "Arial";
        font-size: x-large;
        text-align: center;
        margin: 20px 20px 10px 20px;
    }   
    &__byline {
        margin: 10px 20px 20px 20px;
        text-align: center;
        font-weight: 300;

        }
}

