.reveal--1 {
    animation: reveal 1200ms backwards;
}
.reveal--2 {
    animation: reveal 1200ms 300ms backwards;
}
.reveal--3 {
    animation: reveal 1200ms 600ms backwards;
}
.reveal--4 {
    animation: reveal 1200ms 800ms backwards;
}
.reveal--5 {
    animation: reveal 1200ms 1000ms backwards;
}
.reveal--6 {
    animation: reveal 1200ms 1200ms backwards;
}


.menu__entrance__items:hover::after,
.menu__main-course__items:hover::after,
.menu__desserts__items:hover::after{
    animation: box-translate 800ms 0s 1 forwards;
} 

.menu__entrance__items:hover + .iconCheck,
.menu__main-course__items:hover + .iconCheck,
.menu__desserts__items:hover + .iconCheck{
    animation: check 1000ms 0s 1 forwards;
}


