@mixin btn{
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    border: none;    
    color: white;
    background: linear-gradient(150deg, #ff79da, #9356dc);
    box-shadow: 5px 5px 2px $colour-shadow;
}

@mixin items{
    background-color: white;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    box-shadow: 1px 1px 5px $colour-shadow;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

@mixin tablet{
    @media screen and (min-width : 481px) and (max-width : 768px){
        @content;      
    }
}

@mixin desktop{
    @media screen and (min-width: 769px) and (max-width:1400px){
        @content;
    }
}


