@mixin btn{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;    
    color: white;
    background: linear-gradient(150deg, #ff79da, #9356dc);
    box-shadow: 5px 5px 2px $colour-shadow;
}

@mixin tablet{
    @media screen and (min-width : 769px) and (max-width : 992px){
        @content;      
    }
}

@mixin desktop{
    @media screen and (min-width: 993px) {
        @content;
    }
}

