.footer {
    background-color: #353535;
    color: white;
        &__menu{
            padding: 20px;
                &__title{
                    font-family: 'Shrikhand', cursive;
                    color: white;
                    padding-bottom: 10px;
                }
                li{
                    padding: 5px 0 5px 0;
                }
        }
}

.footer a{
    color: white;
}


.footer i{
    width: 25px;
}