.functioning {
    display: flex;
    flex-direction: column;

    &__title {
        align-self: flex-start;
        margin: 20px 0 0 20px;
    }

    &__filters {
        flex-wrap: wrap;
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        @include tablet{
            width:60%;
            margin-left: auto;
            margin-right: auto;
        }

        &__items {
            display: flex;
            flex-direction: row;
            margin: 30px 30px 30px 35px;
            padding: 25px 30px;
            gap: 15px;
            border-radius: 20px;
            background-color: #F2F2F2;
            position: relative;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            &:hover{
                background-color: $colour-hover;
                cursor: pointer;
            }

            @include tablet {
                justify-content: center;
            }

            &__number {
                position: absolute;
                left: -5%;
                top: 26%;
                border-radius: 50px;
                background-color: $colour-primacy;
                padding: 6px 10px;
                color: white;

                @include tablet {
                    left: -2%;
                }
            }
        }
    }
}