// Header réutilisable sur chaque page menu

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
    position: relative;
    & i{
        position: absolute;
        left: 15px;
        top: 3px;
        font-size: x-large;
        margin: 15px;
    }
}

#logo{
    height: 30px;
}